#resultadoPesquisa{
  background-color: rebeccapurple;
  overflow-y: scroll;
  height:400px;
 }

.container {
  background-color: #c4f1ff;
  text-align: center;
  padding: 2vh 2vw;
  display:ruby-base;
  #resultadoPesquisa{
    background-color: rebeccapurple;
    overflow-y: scroll;
    height:400px;
   }
   div{
    overflow-y: auto;
    height:80px;
    width: 400px;
    margin: auto;
    box-sizing: border-box;
    padding: 0px;
   }
  .message {
    text-align: center;
    margin-top: 0px;
    padding-bottom: 0px;

    h1 {
      font-size: 3rem;
      line-height: 1.2rem;
      font-weight: 900;
    }
    p {
      margin: 1.875rem 0;
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 400;
    }
    div {
      margin-top: 2.5rem;
      margin-right: 2.5rem;
      small {
        font-size: 0.75rem;
      }
    }
    button + button {
      margin-right: 50rem;
    }
  }

  img {
    padding-top: 10px;
    padding-left: 10px;
    width: 25px;
    height: 25px;
  }
}
